body{background-color: #6886c5;
      margin: 0;}
.bio{background-color: #6886c5;}
.pesan{background-color: #6886c5;}
.home{background-color: #6886c5;}
.bio h1 {text-align:center;
    font-size:300%;
    font-family:DFGothic-EB;
    color:#f9f9f9;
    padding: 10px;
    border-top: 5px solid #ffe0ac;
    border-bottom: 5px solid #ffe0ac;}
.pesan h1{text-align:center;
    font-size:300%;
    font-family:DFGothic-EB;
    color:#f9f9f9;
    padding: 10px;
    border-top: 5px solid #ffe0ac;
    border-bottom: 5px solid #ffe0ac;}
.home h1{text-align:center;
    font-size:300%;
    font-family:DFGothic-EB;
    color:#f9f9f9;
    padding: 10px;
    border-top: 5px solid #ffe0ac;
    border-bottom: 5px solid #ffe0ac;}
h2{text-align:center;
    font-size:200px;
    font-family:DFGothic-EB;
    color:#f9f9f9;}
div{padding:20px;
    border: 5px solid #ffe0ac;}
.pesan div{padding:30px;
    border: 5px solid #ffe0ac;}
#kalimat{
  font-family:DFGothic-EB;
  font-size: 150%;
  color: #f9f9f9;}
button{
   right: 50px;
   top: 360px;
   font-family:DFGothic-EB;
   font-size: 20px;
   background-color:#ffacb7;
   border:none;
   color:#f9f9f9;
   padding: 10px 15px;
   text-align:center;
   cursor: pointer;}
a{color:#f9f9f9}
table,th, td{
  border: 2px solid ;
  border-collapse: collapse;
  font-family:DFGothic-EB;
  font-size: 110%;
  padding: 2px;
  text-align: center;
  color: #f9f9f9;}
th{background-color: #162447;}
td{background-color:#ffacb7}
table{width:100%;}
img{
	float: left;
    right: 55px;
    top: 165px;
    border: 5px #ffe0ac;}
form{font-family:DFGothic-EB;
  font-size: 150%;
  color:#f9f9f9;}